<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="title"></div>
<a href="javascript:void(0)">
    <div class="go">Go</div>
</a>
</body>
</html>